<suite name="TestWeChat" parallel="tests" thread-count="1">
    <parameter name="appPackage" value="com.tencent.mm"/>
    <parameter name="appActivity" value="com.tencent.mm.ui.LauncherUI"/>
    <test name="WeChat">
        <classes>
            <class name="BorwserEngin"/>
        </classes>
    </test>
</suite>
